body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #282c34;
    /* color: #61dafb; */
    color: #ffffff;
  }
  
  .timer-container {
    text-align: center;
  }

  .timer-container img {
    object-fit: cover;
    height: 8rem;
  }

  .timer-container input {
    height: 2rem;
  }
  
  .input-container, .controls {
    margin: 15px 0;
  }
  
  .timer {
    font-size: 10rem;
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background: #555;
    cursor: not-allowed;
  }
  
  #start-button {
    background: #28a745;
    color: #fff;
  }
  
  #pause-button {
    background: #ffc107;
    color: #000;
  }
  
  #stop-button {
    background: #dc3545;
    color: #fff;
  }
  
  #reset-button {
    background: #17a2b8;
    color: #fff;
  }
  